html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Existence;
  src: url(../fonts/existence/existence-light-webfont.ttf);
}

body{
  font-family: 'Lato', sans-serif;
}


.grid-container {
  width : 100%;
  max-width : 960px;
  margin: 0 auto;
}

.col-12 {
  width: 100%;
}


header {
  background-image: url(../images/Bhagaskara_01.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}


.companyname {
  font-family: Existence;
  font-size: 3.5em;
  color: map_get($Colors,white);
  line-height: 0.3;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 10%;
  span {
    color: map_get($Colors,purple);
  }
}

h3 {
  font-size: 2.3em;
  font-weight: lighter;
  color: map_get($Colors,white);
  line-height: 0.5;
  text-align: center;

}

.vestibulum {
  color: map_get($Colors,white);
  font-weight: lighter;
  line-height: 1.3;
  text-align: center;
  font-size: 1em;
  margin-top: 3%;
  margin-bottom: 10%;
}


.picture {
  width: 80%;
  &:hover {
    background-size: cover;
    background-image: url(../images/purple.png);
  }
}

[class*="col-"]{
  display: inline-block;
  text-align: center;
  margin: -2px;
}


.col-1 {
  width: calc(8.33% - 4px);
}
.col-2 {
  width: calc(16.66% - 4px);
}
.col-3 {
  width: calc(25% - 4px);
}
.col-4 {
  width: calc(33.33% - 4px);
}
.col-5 {
  width: calc(41.66% - 4px);
}
.col-6 {
  width: calc(50% - 4px);
}
.col-7 {
  width: calc(58.33% - 4px);
}
.col-8 {
  width: calc(66.66% - 4px);
}
.col-9 {
  width: calc(75% - 4px);
}
.col-10 {
  width: calc(83.33% - 4px);
}
.col-11 {
  width: calc(91.66% - 4px);
  }

.col-12 {
  width: calc(100% - 4px);
}

.scroll {
  text-align: center;
  padding-bottom: 5%;
  margin-bottom: 2%;
}

.scrollpic {
  &:hover {
    background-size: cover;
    background-image: url(../images/purple.png);
  }
}

.navbar {
  padding-bottom: 2%;
  background: white;
}

.companyname2 {
  font-family: Existence;
  font-size: 2em;
  color: map_get($Colors,mainFontColor);
  line-height: 0.3;
  margin-left: 10px;
  text-align: left;
  list-style: none;
  width: 20%;
  float: left;
  span {
    color: map_get($Colors,purple);
  }
}

.menu {
    list-style: none;
    text-align: right;
    color: map_get($Colors,mainFontColor);
  li{
    display: inline-block;
    margin-left: 20px;
  }
}

a {
  &:link {
    color: map_get($Colors, mainFontColor);
    text-decoration: none;
  }
  &:hover {
    color: map_get($Colors,purple);
  }
  &:visited {
    text-decoration: none;
  }
}

.sectionlove {
  background-color: map_get($Colors, lightGreyBackground);
}

.withlove {
  padding-top: 10%;
}

.love1 {
  width: 25%;
  .lovepic {
    padding-bottom: 10%;
  }
  h4 {
    font-weight: lighter;
    font-size: 1.5em;
    color: map_get($Colors, mainFontColor);
    padding-bottom: 10%;
  }
  p {
    font-weight: lighter;
    font-size: 1em;
    color: map_get($Colors, mainFontColor);
    padding-bottom: 70%;
  }
}

.aboutus {
  padding-bottom: 10%;
  .corners{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 8%;

  }
  .screens {

    display: inline-block;
    float: left;

  }
  .col-5 {
    color: map_get($Colors, mainFontColor);
    display: inline-block;
    text-align: left;
    line-height: 1.5;
    padding-left: 30px;
  }
  .learnmore {
    padding-top: 20%;
    text-align: left;
    display: inline-block;
  }
}

.interlude{
  background-image: url(../images/quotebg.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.quotemain {
  text-align: center;
  .quote {
    padding: 4%;
  }
  p{
    color: map_get($Colors, white);
    font-size: 2.5em;
    padding-bottom: 10%;
  }
}

.ourteam {
  .ourteamimg {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 4%;
  }
  .imgarr1{
    background: url(../images/left.png);
  }

  #left {
    float: right;
    &:hover {
      display: none;
    }
  }
  #right {
    float: left;
  }
}

.displaynone {
  display: none;
}
