html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Existence;
  src: url(../fonts/existence/existence-light-webfont.ttf);
}

body{
  font-family: 'Lato', sans-serif;
}


.grid-container {
  width : 100%;
  max-width : 960px;
  margin: 0 auto;
}

.col-12 {
  width: 100%;
}


header {
  background-image: url(../images/Bhagaskara_01.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.companyname {
  font-family: Existence;
  font-size: 4em;
  color: map_get($Colors,white);
  line-height: 0.3;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 8%;
  span {
    color: map_get($Colors,purple);
  }
}

h3 {
  font-size: 2em;
  font-weight: lighter;
  color: map_get($Colors,white);
  line-height: 0.5;
  text-align: center;

}

.vestibulum {
  color: map_get($Colors,white);
  font-weight: lighter;
  line-height: 1;
  text-align: center;
  font-size: 1em;
  margin-top: 1%;
  margin-bottom: 5%;
}


.picture {
  width: 80%;
  &:hover {
    background-size: cover;
    background-image: url(../images/purple.png);
  }
}

[class*="col-"]{
  display: inline-block;
  text-align: center;
  margin: -2px;
}


.col-1 {
  width: calc(8.33% - 4px);
}
.col-2 {
  width: calc(16.66% - 4px);
}
.col-3 {
  width: calc(25% - 4px);
}
.col-4 {
  width: calc(33.33% - 4px);
}
.col-5 {
  width: calc(41.66% - 4px);
}
.col-6 {
  width: calc(50% - 4px);
}
.col-7 {
  width: calc(58.33% - 4px);
}
.col-8 {
  width: calc(66.66% - 4px);
}
.col-9 {
  width: calc(75% - 4px);
}
.col-10 {
  width: calc(83.33% - 4px);
}
.col-11 {
  width: calc(91.66% - 4px);
  }

.col-12 {
  width: calc(100% - 4px);
}

.scroll {
  text-align: center;
  padding-bottom: 5%;
  margin-bottom: 2%;
}

.scrollpic {
  &:hover {
    background-size: cover;
    background-image: url(../images/purple.png);
  }
}

.navbar {
  padding-bottom: 20px;
  background: white !important;
  vertical-align: middle;
}

.companyname2 {
  font-family: Existence;
  font-size: 2em;
  color: map_get($Colors,mainFontColor);
  line-height: 0.4;
  margin-left: 10px;
  text-align: left;
  list-style: none;
  width: 20%;
  float: left;
  span {
    color: map_get($Colors,purple);
  }
}

.sticky {
  position: fixed;
  top: 0;
  width:100%;
  padding: 20px;
}


.menu {
    list-style: none;
    text-align: right;
    color: map_get($Colors, mainFontColor);

  li{
    display: inline-block;
    margin-left: 20px;
  }
}

a {
    color: map_get($Colors, mainFontColor);
    text-decoration: none;
  &:hover {
    color: map_get($Colors,purple);
  }
}

.active {
  color: map_get($Colors,purple);
}

.sectionlove {
  background-color: map_get($Colors, lightGreyBackground);
}

.withlove {
  padding-top: 10%;
}

.love1 {
  width: 25%;
  .lovepic {
    padding-bottom: 10%;
    width: 100%;
    height: auto;
  }
  h4 {
    font-weight: lighter;
    font-size: 1.5em;
    color: map_get($Colors, mainFontColor);
    padding-bottom: 10%;
  }
  p {
    font-weight: lighter;
    font-size: 1em;
    color: map_get($Colors, mainFontColor);
    padding-bottom: 60%;
  }
}

.aboutus {
  padding-bottom: 10%;
  .screens {
    display: inline-block;
    float: left;

  }
  .col-5 {
    color: map_get($Colors, mainFontColor);
    display: inline-block;
    text-align: left;
    line-height: 1.5;
    padding-left: 30px;
  }
  .learnmore {
    padding-top: 20%;
    text-align: left;
    display: inline-block;
  }
}

.corners{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 8%;
}

.interlude{
  background-image: url(../images/quotebg.png);
  width: 100%;
  background-size: cover;
  background-color: map_get($Colors, lightGreyBackground);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.quotemain {
  text-align: center;
  .quote {
    padding: 4%;
  }
  p{
    color: map_get($Colors, white);
    font-size: 2.5em;
    padding-bottom: 10%;
  }
}
#ourteam {
  padding-bottom: 60px;

  .ourteamimg {
    text-align: center;
    padding-top: 6%;
    padding-bottom: 4%;
  }
  .imgarr1{
     background: url(../images/left.png);
   }
  .imgarr2{
    background: url(../images/right.png);
  }

  #left {
    float: right;
    &:hover {
      display: none;
    }
  }
  #right {
    float: left;
    &:hover {
      display: none;
    }
  }
}

#info-section {
  background: map_get($Colors, lightGreyBackground);
}

.info {
  padding-top: 2%;
  padding-bottom: 10%;
}
.number{
  float: left;
  font-size: 4em;
  color: map_get($Colors, darkGrey);
}

.lorem{
  clear:both;
  float: left;
  color: map_get($Colors, darkGrey);
}


.select {
  line-height: 2em;
  border: 1px solid black;
  border-radius: 10%;
  margin: 2px;
  margin-bottom: 5%;
}

.portfolioimages {
  padding-bottom: 4%;
}
.portfolioexample {
  width: calc(33% - 10px);
  margin: 5px;
  height: 420px;
  &:hover {
    opacity: 0.4;
  }
  span {
    position:relative;
    top: 86%;
    z-index: -2;
  }
}

.undertext1 {
  font-size: 1.5em;
}

.undertext2 {
  color: map_get($Colors, midGreyGallerytext);
}

.example1 {
  background-image: url(../images/t1.jpg);
  background-repeat: no-repeat;
}

.example2 {
  background-image: url(../images/t2.jpg);
  background-repeat: no-repeat;
}

.example3 {
  background-image: url(../images/t3.jpg);
  background-repeat: no-repeat;
}

.example4 {
  background-image: url(../images/t4.jpg);
  background-repeat: no-repeat;
}

.example5 {
  background-image: url(../images/t5.jpg);
  background-repeat: no-repeat;
}

.example6 {
  background-image: url(../images/t6.jpg);
  background-repeat: no-repeat;
}

.watch {
  text-align: center;
  img {
    height: 60px;
  }
  padding-bottom: 5%;
}


.form {
  text-align: left;
}

.name {
  width: 98%;
  border: 1px solid map_get($Colors, black);
  height: 60px;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.email {
  width: 98%;
  height: 60px;;
  color: map_get($Colors, black);
  border: 1px solid map_get($Colors, black);
  font-size: 1.5em;
  margin-bottom: 20px;
}

.textarea {
  width: 98%;
  height: 250px;
  font-size: 1.5em;
  border: 1px solid map_get($Colors, black);
  margin-bottom: 20px;
  padding-bottom: 15px;
}

#submit {
  padding-top: 5px;
  font-size: 30px;
  color: white;
  background: map_get($Colors, purple);
  border-radius: 7px;
}

.contactdata {
  vertical-align: top;
  text-align: left;
  font-size: 1.2em;
  p {
    padding-bottom: 8%;
  }
  .contacttext {
    display: inline-block;
    color: map_get($Colors, mainFontColor)
  }
  .adress{
    font-weight: bold;
    color: map_get($Colors, darkGrey)
  }
  .telephone {
    font-weight: bold;
    color: map_get($Colors, darkGrey)
  }
}


.totopbottom {
  position: fixed;
  bottom: 30px;
  right: 30px;
}