html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Existence;
  src: url(../fonts/existence/existence-light-webfont.ttf);
}

.grid-container {
  width : 100%;
  max-width : 960px;
  margin: 0 auto;
}

header {
  background-image: url(../images/Bhagaskara_01.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.companyname {
  font-family: Existence, Lato, sans-serif;
  font-weight: bold;
  color: map_get($Colors,white);
  text-align: center;
  padding-top: 10%;
  span {
    color: map_get($Colors,purple);
  }
}

h3.head {
  font-weight: lighter;
  color: map_get($Colors,white);
  text-align: center;
}

.vestibulum {
  color: map_get($Colors,white);
  text-align: center;
  margin-top: 1%;
  margin-bottom: 5%;
}

@media #{$desktop} {
  .companyname {
    font-size: 4em;
    line-height: 0.3;
    padding-bottom: 8%;
  }
  h3.head {
    font-size: 2em;
    line-height: 0.5;
  }
  .vestibulum {
    line-height: 1;
    font-size: 1em;
  }
}

@media #{$tabletBig, $tabletSmall} {
  .companyname {
    font-size: 4em;
    line-height: 1;
    padding-bottom: 8%;
  }
  h3.head {
    font-size: 2em;
    line-height: 1;
  }
  .vestibulum {
    line-height: 1;
    font-size: 1em;
  }
}

@media #{$smartphone} {
  .companyname {
    font-size: 3em;
    line-height: 1;
    padding-bottom: 10%;
  }
  h3.head {
    font-size: 1.5em;
    line-height: 1;
    padding-bottom: 5%;
  }
  .vestibulum {
    line-height: 1;
    font-size: 1em;
  }
}

.picture {
  width: 80%;
  &:hover {
    background-size: cover;
    background-image: url(../images/purple.png);
  }
}

@each $columns in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
.col-#{$columns} {
  width: calc(8.33%*#{$columns} - 4px);
  display: inline-block;
  text-align: center;
  margin: -2px;
}
}

@media #{$desktop} {
  .navigation {
    display: block;
  }
}

@media #{$smartphone, $tabletSmall, $tabletBig} {
  .navigation {
    display: none;
  }
}

.scroll {
  text-align: center;
  padding-bottom: 5%;
  margin-bottom: 2%;
}

.scrollpic {
  &:hover {
    background-size: cover;
    background-image: url(../images/purple.png);
  }
}

.navbar {
  z-index: 20;
  padding-bottom: 20px;
  background: white !important;
  vertical-align: middle;
}

.companyname2 {
  font-family: Existence, Lato, sans-serif;
  color: map_get($Colors, mainFontColor);
  margin-left: 10px;
  text-align: left;
  list-style: none;
  width: 20%;
  float: left;
  span {
    color: map_get($Colors, purple);
  }
}

.menu {
  list-style: none;
  text-align: right;
  color: map_get($Colors, mainFontColor);
}

@media #{$desktop} {
  .companyname2 {
    font-size: 2em;
    line-height: 0.5;
    padding-top: 3px;
  }
  li {
    margin-left: 20px;
  }
  .menu li.hamburger {
    display: none;
  }

}

@media #{$tabletBig}{
  .companyname2 {
    font-size: 1.5em;
    line-height: 1;
    padding-top: 0;
  }
  li{
      font-size: 0.8em;
      margin-left: 100px;
    }
  .menu li.hamburger {
    display: none;
  }
}

@media #{$smartphone, $tabletSmall} {
  .navbar{
    min-height: 40px;
  }
  .companyname2 {
    font-size: 1.5em;
    line-height: 1;
  }
  .menu{
    position: relative;
  }
  .menu.ul {
    margin-top: 0;
  }
  .menu li.menu1 {
    display: none;
  }
  li.hamburger {
    display: block;
    position: absolute;
    top: -10px;
    right: 20px;
  }
}

.menuhamburger{
  list-style: none;
  text-align: center;
  font-size: 2.3em;
  width: 100%;
  li:nth-child(odd) {
    background: map_get($Colors, lightGreyBackground);;
  }
}

.unwind {
  height:0;
  font-size:0;
}

.sticky {
  position: fixed;
  top: 0;
  width:100%;
  padding: 20px;
}

.menu {
    list-style: none;
    text-align: right;
    color: map_get($Colors, mainFontColor);
  li{
    display: inline-block;
    margin-left: 20px;
  }
}

a {
    color: map_get($Colors, mainFontColor);
    text-decoration: none;
  &:hover {
    color: map_get($Colors,purple);
  }
}

.active {
  color: map_get($Colors,purple);
}

.sectionlove {
  background-color: map_get($Colors, lightGreyBackground);
}

@media #{$desktop, $tabletBig}{
  .withlove {
    padding-top: 10%;
    text-align: center;
  }
}

@media #{$smartphone, $tabletSmall}{
  .withlove {
    text-align: center;
  }
}

.love1 {
  position: relative;
  .lovepic {
    padding-bottom: 10%;
    width: 100%;
    height: auto;
  }
  h4 {
    font-weight: lighter;
    font-size: 1.5em;
    color: map_get($Colors, mainFontColor);
    padding-bottom: 10%;
  }
  p {
    font-weight: lighter;
    font-size: 1em;
    color: map_get($Colors, mainFontColor);
    padding-bottom: 60%;
  }
  .onhover {
    top: 0;
    width: 100%;
    height: 45%;
    position: absolute;
    text-align: center;
    img{
      position: absolute;
      width:100%;
      top:0;
      left: 0;
      opacity: 0;
    }
    &:hover{
      cursor: pointer;
      img {
        opacity:1;
      }
    }
  }
}

@media #{$desktop, $tabletBig, $tabletSmall}{
  .love1 {
    display: inline-block;
  }
}

@media #{$tabletSmall}{
  .love1{
    margin: 40px;
  }
}

@media #{$smartphone} {
  .love1 {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}

.aboutus {
  padding-bottom: 10%;
    .col-5 {
      color: map_get($Colors, mainFontColor);
      display: inline-block;
      line-height: 1.5;
      padding-left: 30px;
    }
}

@media #{$desktop, $tabletBig}{
  .screens {
    display: inline-block;
    float: left;
  }
  .col-5 {
    display: inline-block;
    text-align: left;
  }
  .learnmore {
    text-align: left;
    display: inline-block;
  }
}

@media #{$smartphone, $tabletSmall}{
  .screens {
    display: block;
    margin: 0 auto;
  }
  .aboutus{
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .col-5 {
    padding-top: 4%;
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .learnmore {
    display: block;
    margin: 0 auto;
  }
}

.button{
  height: 70px;
  width: 220px;
  padding-top: 18px;
  margin-top: 20%;
  font-size: 1.3em;
  color: white;
  text-align: center;
  box-shadow: 3px 4px 2px purple;
  background: map_get($Colors, purple);
  border-radius: 7px;
  &:hover{
    background: map_get($Colors, white);
    border: 1px solid purple;
    color: map_get($Colors, purple);
  }
}

.corners{
  text-align: center;
  display: block;
  padding-top: 8%;
  padding-bottom: 8%;
}

@media #{$smartphone}{
  .corners {
    img {
      width: 80%;
    }
  }
}

.cornerspad {
  padding-top: 7%;
  padding-bottom: 8%;
}

.interlude{
  background-image: url(../images/quotebg.png);
  width: 100%;
  background-size: cover;
  background-color: map_get($Colors, lightGreyBackground);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.quotemain {
  text-align: center;
  .quote {
    padding: 4%;
  }
  p{
    color: map_get($Colors, white);
    font-size: 2.5em;
    padding-bottom: 10%;
  }
}

@media #{$smartphone, $tabletSmall}{
  .quotemain{
    p{
      font-size: 1.5em;
    }
  }
}

#ourteam {
  padding-bottom: 60px;
  .ourteamimg {
    text-align: center;
    padding-top: 6%;
    padding-bottom: 4%;
  }
  #left {
    float: right;
    }
  #right {
    float: left;
    }
  p.check{
    font-size: 1.3em;
    text-align: center;
    color: white;
    background: map_get($Colors, purple);
    border-radius: 7px;
    width: 20%;
    height: 30px;
    margin: 0 auto;
  }
}

.circle {
  width: 160px;
  height: 160px;
  background-color: map_get($Colors, greyCircle);
  border-radius: 50%;
  margin: 60px auto;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

.circle1 {
  background: url(../images/profilowe.jpg);
}

.circle2 {
  background: url(../images/curie.jpg);
}

.circle3 {
  background: url(../images/duda.jpg);
}

.circle4 {
  background: url(../images/pikej.jpg);
}

.circle5 {
  background: url(../images/szostak.png);
}

.ourservices{
  width: 100%;
}

#owl-demo{
  text-align: center;
}

.teammember {
  div{
    h4{
      padding:10px;
      cursor: pointer;
    }
    span{
      padding: 10px;
      cursor: pointer;
    }
    .socials{
    }
  }
}

.cornersskills{
  padding-top: 0;
}

#info-section {
  background: map_get($Colors, lightGreyBackground);
  .slider{
    .sliderlist{
      list-style: none;
      text-align: center;
      overflow: hidden;
      div.slideelement{
        padding-bottom: 5%;
        text-align: center;
        img {
          border-radius: 50%;
          text-align: center;
          display: inline-block;
        }
      }
    }
  }
}

.skills {
  padding: 0 0 30px 0;
}

.rightskills {
  h4{
    float: left;
  }
  span {
    float: right;
  }
}

.leftskills {
  @extend .rightskills;
}

.skillBar {
  height: 20px;
  background-color: #cdcdcd;
}

.WebBarSet, .GraphicBarSet, .HTMLBarSet, .AccBarSet {
  background-color: #9f449b;
  height: 20px;
}

.Hubert {
  .WebBarSet {
    width: 95%;
  }
  .GraphicBarSet {
    width: 92%;
  }
  .HTMLBarSet {
    width: 91%;
  }
  .AccBarSet {
    width: 88%;
  }
}

.Maria {
  .WebBarSet {
    width: 67%;
  }
  .GraphicBarSet {
    width: 77%;
  }
  .HTMLBarSet {
    width: 87%;
  }
  .AccBarSet {
    width: 97%;
  }
}

.Andrzej {
  .WebBarSet {
    width: 95%;
  }
  .GraphicBarSet {
    width: 85%;
  }
  .HTMLBarSet {
    width: 75%;
  }
  .AccBarSet {
    width: 65%;
  }
}

.Piotr {
  .WebBarSet {
    width: 45%;
  }
  .GraphicBarSet {
    width: 55%;
  }
  .HTMLBarSet {
    width: 75%;
  }
  .AccBarSet {
    width: 85%;
  }
}

.Kasia {
  .WebBarSet {
    width: 64%;
  }
  .GraphicBarSet {
    width: 53%;
  }
  .HTMLBarSet {
    width: 99%;
  }
  .AccBarSet {
    width: 61%;
  }
}

.info {
  padding-top: 2%;
  padding-bottom: 5%;
}

@media #{$smartphone, $tabletSmall} {
  .info{
    margin: 0 auto;
    text-align: center;
    .inf{
      width: 40%;
      span{
        padding: 5px;
        font-size: 1.5em;
      }
    }
  }
}

.number{
  font-size: 4em;
  color: map_get($Colors, darkGrey);
  clear: both;
}

.lorem{
  clear:both;
  color: map_get($Colors, darkGrey);
}

#ourportfolio {
  clear: both;
}

@media #{$tabletMedium}{
  .portfolio{
    text-align: center;
    .select {
      width: 120px;
      display: block;
      margin: 0 auto;
    }
  }
}

.select {
  line-height: 2em;
  border: 1px solid black;
  border-radius: 10%;
  margin: 2px;
  margin-bottom: 5%;
  &:focus {
    border-color: map_get($Colors, lightblue);
  }
  &:hover {
    cursor: pointer;
    border-color: map_get($Colors, purple);
  }
}

.selectactive{
  background: purple;
  color: map_get($Colors, white);
}

.portfolioimages {
  padding-bottom: 4%;
  position: relative;
  margin: 0 auto;
}
.portfolioexample {
  width: calc(33% - 10px);
  margin: 5px;
  height: 420px;
  position: relative;
  background-repeat: no-repeat;
  span {
    position:relative;
    top: 86%;
    height: 100px;
    z-index: -2;
  }
}

@media #{$smartphone}{
  .portfolioexample {
    display: block;
    width: 100%;
  }
}

.tour-caption {
  background-color: rgba(0,0,0,0);
  top: 0;
  width: 100%;
  height: 84%;
  position: absolute;
  text-align: center;
  img{
    position: absolute;
    top:30%;
    left: 28%;
    opacity: 0;
  }
  &:hover{
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    img {
      opacity:1;
    }
  }
}

@media #{$smartphone, $tabletSmall, $tabletBig}{
  .tour-caption {
    img{
      display: none;
    }
  }
}

@media #{$desktop}{
  .undertext1 {
    font-size: 1.5em;
  }
}

@media #{$tabletBig, $tabletSmall, $smartphone}{
  .undertext1 {
    font-size: 1em;
  }
}

.undertext2 {
  color: map_get($Colors, midGreyGallerytext);
}


@each $example in 1, 2, 3, 4, 5, 6 {
  .example#{$example}{
    background-image: url(../images/t#{$example}.jpg);
  }
}

.watchMore{
  margin: 0 auto;
}

.form {
  text-align: left;
}

.name {
  width: 98%;
  border: 1px solid map_get($Colors, black);
  height: 60px;
  font-size: 1.5em;
  margin-bottom: 20px;
  &:hover{
    border: 1px solid map_get($Colors, purple);
  }
}

.email {
  width: 98%;
  height: 60px;;
  color: map_get($Colors, black);
  border: 1px solid map_get($Colors, black);
  font-size: 1.5em;
  margin-bottom: 20px;
  &:hover{
    border: 1px solid map_get($Colors, purple);
  }
}

.textarea {
  width: 98%;
  height: 250px;
  font-size: 1.5em;
  border: 1px solid map_get($Colors, black);
  margin-bottom: 20px;
  padding-bottom: 15px;
  &:hover{
    border: 1px solid map_get($Colors, purple);
  }
  &:focus{
    border: 1px solid map_get($Colors, lightblue);
  }
}

#submit {
  padding-top: 5px;
  font-size: 1.3em;
  color: white;
  background: map_get($Colors, purple);
  border-radius: 7px;
  height: 70px;
  width: 220px;
  box-shadow: 3px 4px 2px map_get($Colors, purple);
  &:hover{
    background: map_get($Colors, white);
    border: 1px solid purple;
    color: map_get($Colors, purple);
  }
}


.contactdata {
  vertical-align: top;
  text-align: left;
  font-size: 1.2em;
  p {
    padding-bottom: 8%;
  }
  .contacttext {
    color: map_get($Colors, mainFontColor)
  }
  .adress{
    font-weight: bold;
    color: map_get($Colors, darkGrey)
  }
  .telephone {
    font-weight: bold;
    color: map_get($Colors, darkGrey)
  }
}


.social{
  display: inline-block;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
}

.facebook {
  background-image: url(../images/f.png);
  &:hover{
    background-image: url(../images/fhr.png);
  }
}
.twitter{
  background-image: url(../images/t.png);
  &:hover{
    background-image: url(../images/thr.png);
  }
}

.google {
  background-image: url(../images/g.png);
  &:hover{
    background-image: url(../images/ghr.png);
  }
}

@media #{$smartphone, $tabletSmall}{
  .contactcontent {
    text-align: center;
  }
  form{
    text-align: center;
    width: 100%;
  }
  .email{
    font-size: 1em;
  }
  .name{
    font-size: 1em;
  }
  .textarea{
    font-size: 1em;
  }
  #submit{
    margin: 0 auto;
    width: 100%;
    font-size: 0.9em;
  }
  .contactdata{
    width: 80%;
    margin: 0 auto;
  }
}


.totopbottom {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.companyname3 {
  font-family: Existence, Lato, sans-serif;
  font-size: 2.8em;
  font-weight: bold;
  color: map_get($Colors,mainFontColor);
  line-height: 0.3;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 8%;
  span {
    color: map_get($Colors,purple);
  }
}
