$Colors: (
        white: #fff,
        black: #000,
        purple: #9f449b,
        mainFontColor: #676767,
        lightGreyBackground: #eee,
        greyCircle: #cdcdcd,
        darkerGreyCircle: #aaa,
        darkHeader: #484848,
        darkGrey: #222222,
        lightGreySkillbar: #fofofo,
        midGreyGallerytext: #777777,
        footerGrey: #4b4b4b,
        lightBlue: #add8e6,
);

$smartphone: "(max-width: 400px)";

$tabletSmall: "(min-width: 400px) and (max-width: 690px)";

$tabletBig: "(min-width: 690px) and (max-width: 800px)";

$desktop: "(min-width: 800px)";