$Colors: (
        white: #fff,
        black: #000,
        purple: #9f449b,
        mainFontColor: #676767,
        lightGreyBackground: #eee,
        greyCircle: #cdcdcd,
        darkerGreyCircle: #aaa,
        darkHeader: #484848,
        darkGrey: #222,
        lightGreySkillbar: #fofofo,
        midGreyGallerytext: #777777,
        footerGrey: #4b4b4b,
);