html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Existence;
  src: url(../fonts/existence/existence-light-webfont.ttf);
}
.grid-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-image: url(../images/Bhagaskara_01.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.companyname {
  font-family: Existence, Lato, sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-top: 10%;
}
.companyname span {
  color: #9f449b;
}

h3.head {
  font-weight: lighter;
  color: #fff;
  text-align: center;
}

.vestibulum {
  color: #fff;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 5%;
}

@media (min-width: 800px) {
  .companyname {
    font-size: 4em;
    line-height: 0.3;
    padding-bottom: 8%;
  }

  h3.head {
    font-size: 2em;
    line-height: 0.5;
  }

  .vestibulum {
    line-height: 1;
    font-size: 1em;
  }
}
@media (min-width: 690px) and (max-width: 800px), (min-width: 400px) and (max-width: 690px) {
  .companyname {
    font-size: 4em;
    line-height: 1;
    padding-bottom: 8%;
  }

  h3.head {
    font-size: 2em;
    line-height: 1;
  }

  .vestibulum {
    line-height: 1;
    font-size: 1em;
  }
}
@media (max-width: 400px) {
  .companyname {
    font-size: 3em;
    line-height: 1;
    padding-bottom: 10%;
  }

  h3.head {
    font-size: 1.5em;
    line-height: 1;
    padding-bottom: 5%;
  }

  .vestibulum {
    line-height: 1;
    font-size: 1em;
  }
}
.picture {
  width: 80%;
}
.picture:hover {
  background-size: cover;
  background-image: url(../images/purple.png);
}

.col-1 {
  width: calc(8.33%*1 - 4px);
  display: inline-block;
  text-align: center;
  margin: -2px;
}

.col-2 {
  width: calc(8.33%*2 - 4px);
  display: inline-block;
  text-align: center;
  margin: -2px;
}

.col-3 {
  width: calc(8.33%*3 - 4px);
  display: inline-block;
  text-align: center;
  margin: -2px;
}

.col-4 {
  width: calc(8.33%*4 - 4px);
  display: inline-block;
  text-align: center;
  margin: -2px;
}

.col-5 {
  width: calc(8.33%*5 - 4px);
  display: inline-block;
  text-align: center;
  margin: -2px;
}

.col-6 {
  width: calc(8.33%*6 - 4px);
  display: inline-block;
  text-align: center;
  margin: -2px;
}

.col-7 {
  width: calc(8.33%*7 - 4px);
  display: inline-block;
  text-align: center;
  margin: -2px;
}

.col-8 {
  width: calc(8.33%*8 - 4px);
  display: inline-block;
  text-align: center;
  margin: -2px;
}

.col-9 {
  width: calc(8.33%*9 - 4px);
  display: inline-block;
  text-align: center;
  margin: -2px;
}

.col-10 {
  width: calc(8.33%*10 - 4px);
  display: inline-block;
  text-align: center;
  margin: -2px;
}

.col-11 {
  width: calc(8.33%*11 - 4px);
  display: inline-block;
  text-align: center;
  margin: -2px;
}

.col-12 {
  width: calc(8.33%*12 - 4px);
  display: inline-block;
  text-align: center;
  margin: -2px;
}

@media (min-width: 800px) {
  .navigation {
    display: block;
  }
}
@media (max-width: 400px), (min-width: 400px) and (max-width: 690px), (min-width: 690px) and (max-width: 800px) {
  .navigation {
    display: none;
  }
}
.scroll {
  text-align: center;
  padding-bottom: 5%;
  margin-bottom: 2%;
}

.scrollpic:hover {
  background-size: cover;
  background-image: url(../images/purple.png);
}

.navbar {
  z-index: 20;
  padding-bottom: 20px;
  background: white !important;
  vertical-align: middle;
}

.companyname2 {
  font-family: Existence, Lato, sans-serif;
  color: #676767;
  margin-left: 10px;
  text-align: left;
  list-style: none;
  width: 20%;
  float: left;
}
.companyname2 span {
  color: #9f449b;
}

.menu {
  list-style: none;
  text-align: right;
  color: #676767;
}

@media (min-width: 800px) {
  .companyname2 {
    font-size: 2em;
    line-height: 0.5;
    padding-top: 3px;
  }

  li {
    margin-left: 20px;
  }

  .menu li.hamburger {
    display: none;
  }
}
@media (min-width: 690px) and (max-width: 800px) {
  .companyname2 {
    font-size: 1.5em;
    line-height: 1;
    padding-top: 0;
  }

  li {
    font-size: 0.8em;
    margin-left: 100px;
  }

  .menu li.hamburger {
    display: none;
  }
}
@media (max-width: 400px), (min-width: 400px) and (max-width: 690px) {
  .navbar {
    min-height: 40px;
  }

  .companyname2 {
    font-size: 1.5em;
    line-height: 1;
  }

  .menu {
    position: relative;
  }

  .menu.ul {
    margin-top: 0;
  }

  .menu li.menu1 {
    display: none;
  }

  li.hamburger {
    display: block;
    position: absolute;
    top: -10px;
    right: 20px;
  }
}
.menuhamburger {
  list-style: none;
  text-align: center;
  font-size: 2.3em;
  width: 100%;
}
.menuhamburger li:nth-child(odd) {
  background: #eee;
}

.unwind {
  height: 0;
  font-size: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
}

.menu {
  list-style: none;
  text-align: right;
  color: #676767;
}
.menu li {
  display: inline-block;
  margin-left: 20px;
}

a {
  color: #676767;
  text-decoration: none;
}
a:hover {
  color: #9f449b;
}

.active {
  color: #9f449b;
}

.sectionlove {
  background-color: #eee;
}

@media (min-width: 800px), (min-width: 690px) and (max-width: 800px) {
  .withlove {
    padding-top: 10%;
    text-align: center;
  }
}
@media (max-width: 400px), (min-width: 400px) and (max-width: 690px) {
  .withlove {
    text-align: center;
  }
}
.love1 {
  position: relative;
}
.love1 .lovepic {
  padding-bottom: 10%;
  width: 100%;
  height: auto;
}
.love1 h4 {
  font-weight: lighter;
  font-size: 1.5em;
  color: #676767;
  padding-bottom: 10%;
}
.love1 p {
  font-weight: lighter;
  font-size: 1em;
  color: #676767;
  padding-bottom: 60%;
}
.love1 .onhover {
  top: 0;
  width: 100%;
  height: 45%;
  position: absolute;
  text-align: center;
}
.love1 .onhover img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.love1 .onhover:hover {
  cursor: pointer;
}
.love1 .onhover:hover img {
  opacity: 1;
}

@media (min-width: 800px), (min-width: 690px) and (max-width: 800px), (min-width: 400px) and (max-width: 690px) {
  .love1 {
    display: inline-block;
  }
}
@media (min-width: 400px) and (max-width: 690px) {
  .love1 {
    margin: 40px;
  }
}
@media (max-width: 400px) {
  .love1 {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}
.aboutus {
  padding-bottom: 10%;
}
.aboutus .col-5 {
  color: #676767;
  display: inline-block;
  line-height: 1.5;
  padding-left: 30px;
}

@media (min-width: 800px), (min-width: 690px) and (max-width: 800px) {
  .screens {
    display: inline-block;
    float: left;
  }

  .col-5 {
    display: inline-block;
    text-align: left;
  }

  .learnmore {
    text-align: center;
    display: inline-block;
  }
}
@media (max-width: 400px), (min-width: 400px) and (max-width: 690px) {
  .screens {
    display: block;
    margin: 0 auto;
  }

  .aboutus {
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .col-5 {
    padding-top: 4%;
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .learnmore {
    display: block;
    margin: 0 auto;
  }
}
.button {
  height: 70px;
  width: 220px;
  padding-top: 18px;
  margin-top: 20%;
  font-size: 1.3em;
  color: white;
  text-align: center;
  box-shadow: 3px 4px 2px purple;
  background: #9f449b;
  border-radius: 7px;
}
.button:hover {
  background: #fff;
  border: 1px solid purple;
  color: #9f449b;
}

.corners {
  text-align: center;
  display: block;
  padding-top: 8%;
  padding-bottom: 8%;
}

@media (max-width: 400px) {
  .corners img {
    width: 80%;
  }
}
.cornerspad {
  padding-top: 7%;
  padding-bottom: 8%;
}

.interlude {
  background-image: url(../images/quotebg.png);
  width: 100%;
  background-size: cover;
  background-color: #eee;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.quotemain {
  text-align: center;
}
.quotemain .quote {
  padding: 4%;
}
.quotemain p {
  color: #fff;
  font-size: 2.5em;
  padding-bottom: 10%;
}

@media (max-width: 400px), (min-width: 400px) and (max-width: 690px) {
  .quotemain p {
    font-size: 1.5em;
  }
}
#ourteam {
  padding-bottom: 60px;
}
#ourteam .ourteamimg {
  text-align: center;
  padding-top: 6%;
  padding-bottom: 4%;
}
#ourteam #left {
  float: right;
}
#ourteam #right {
  float: left;
}
#ourteam p.check {
  font-size: 1.3em;
  text-align: center;
  color: white;
  background: #9f449b;
  border-radius: 7px;
  width: 20%;
  height: 30px;
  margin: 0 auto;
}

.circle {
  width: 160px;
  height: 160px;
  background-color: #cdcdcd;
  border-radius: 50%;
  margin: 60px auto;
  text-align: center;
}
.circle:hover {
  cursor: pointer;
}

.circle1 {
  background: url(../images/profilowe.jpg);
}

.circle2 {
  background: url(../images/curie.jpg);
}

.circle3 {
  background: url(../images/duda.jpg);
}

.circle4 {
  background: url(../images/pikej.jpg);
}

.circle5 {
  background: url(../images/szostak.png);
}

.ourservices {
  width: 100%;
}

#owl-demo {
  text-align: center;
}

.teammember div h4 {
  padding: 10px;
  cursor: pointer;
}
.teammember div span {
  padding: 10px;
  cursor: pointer;
}

.cornersskills {
  padding-top: 0;
}

#info-section {
  background: #eee;
}
#info-section .slider .sliderlist {
  list-style: none;
  text-align: center;
  overflow: hidden;
}
#info-section .slider .sliderlist div.slideelement {
  padding-bottom: 5%;
  text-align: center;
}
#info-section .slider .sliderlist div.slideelement img {
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}

.skills {
  padding: 0 0 30px 0;
}

.rightskills h4, .leftskills h4 {
  float: left;
}
.rightskills span, .leftskills span {
  float: right;
}

.skillBar {
  height: 20px;
  background-color: #cdcdcd;
}

.WebBarSet, .GraphicBarSet, .HTMLBarSet, .AccBarSet {
  background-color: #9f449b;
  height: 20px;
}

.Hubert .WebBarSet {
  width: 95%;
}
.Hubert .GraphicBarSet {
  width: 92%;
}
.Hubert .HTMLBarSet {
  width: 91%;
}
.Hubert .AccBarSet {
  width: 88%;
}

.Maria .WebBarSet {
  width: 67%;
}
.Maria .GraphicBarSet {
  width: 77%;
}
.Maria .HTMLBarSet {
  width: 87%;
}
.Maria .AccBarSet {
  width: 97%;
}

.Andrzej .WebBarSet {
  width: 95%;
}
.Andrzej .GraphicBarSet {
  width: 85%;
}
.Andrzej .HTMLBarSet {
  width: 75%;
}
.Andrzej .AccBarSet {
  width: 65%;
}

.Piotr .WebBarSet {
  width: 45%;
}
.Piotr .GraphicBarSet {
  width: 55%;
}
.Piotr .HTMLBarSet {
  width: 75%;
}
.Piotr .AccBarSet {
  width: 85%;
}

.Kasia .WebBarSet {
  width: 64%;
}
.Kasia .GraphicBarSet {
  width: 53%;
}
.Kasia .HTMLBarSet {
  width: 99%;
}
.Kasia .AccBarSet {
  width: 61%;
}

.info {
  padding-top: 2%;
  padding-bottom: 5%;
}

@media (max-width: 400px), (min-width: 400px) and (max-width: 690px) {
  .info {
    margin: 0 auto;
    text-align: center;
  }
  .info .inf {
    width: 40%;
  }
  .info .inf span {
    padding: 5px;
    font-size: 1.5em;
  }
}
.number {
  font-size: 4em;
  color: #222222;
  clear: both;
}

.lorem {
  clear: both;
  color: #222222;
}

#ourportfolio {
  clear: both;
  text-align: center;
}

@media (max-width: 580px) {
  .portfolio {
    text-align: center;
  }
  .portfolio .select {
    width: 120px;
    display: block;
    margin: 0 auto;
  }
}
.select {
  line-height: 2em;
  border: 1px solid black;
  border-radius: 10%;
  margin: 2px;
  margin-bottom: 5%;
}
.select:focus {
  border-color: #add8e6;
}
.select:hover {
  cursor: pointer;
  border-color: #9f449b;
}

.selectactive {
  background: purple;
  color: #fff;
}

.portfolioimages {
  padding-bottom: 4%;
  position: relative;
  margin: 0 auto;
}

.portfolioexample {
  width: calc(33% - 10px);
  margin: 5px;
  height: 420px;
  position: relative;
  background-repeat: no-repeat;
  text-align: center;
}
.portfolioexample span {
  position: relative;
  top: 86%;
  height: 100px;
  z-index: -2;
}

@media (max-width: 400px) {
  .portfolioexample {
    display: block;
    width: 100%;
  }
}
.tour-caption {
  background-color: transparent;
  top: 0;
  width: 100%;
  height: 84%;
  position: absolute;
}
.tour-caption img {
  position: absolute;
  top: 30%;
  left: 28%;
  opacity: 0;
}
.tour-caption:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.tour-caption:hover img {
  opacity: 1;
}

@media (max-width: 400px), (min-width: 400px) and (max-width: 690px), (min-width: 690px) and (max-width: 800px) {
  .tour-caption img {
    display: none;
  }
}
@media (min-width: 800px) {
  .undertext1 {
    font-size: 1.5em;
  }
}
@media (min-width: 690px) and (max-width: 800px), (min-width: 400px) and (max-width: 690px), (max-width: 400px) {
  .undertext1 {
    font-size: 1em;
  }
}
.undertext2 {
  color: #777777;
}

.example1 {
  background-image: url(../images/t1.jpg);
}

.example2 {
  background-image: url(../images/t2.jpg);
}

.example3 {
  background-image: url(../images/t3.jpg);
}

.example4 {
  background-image: url(../images/t4.jpg);
}

.example5 {
  background-image: url(../images/t5.jpg);
}

.example6 {
  background-image: url(../images/t6.jpg);
}

.watchMore {
  margin: 0 auto;
}

.form {
  text-align: left;
}

.name {
  width: 98%;
  border: 1px solid #000;
  height: 60px;
  font-size: 1.5em;
  margin-bottom: 20px;
}
.name:hover {
  border: 1px solid #9f449b;
}

.email {
  width: 98%;
  height: 60px;
  color: #000;
  border: 1px solid #000;
  font-size: 1.5em;
  margin-bottom: 20px;
}
.email:hover {
  border: 1px solid #9f449b;
}

.textarea {
  width: 98%;
  height: 250px;
  font-size: 1.5em;
  border: 1px solid #000;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.textarea:hover {
  border: 1px solid #9f449b;
}
.textarea:focus {
  border: 1px solid #add8e6;
}

#submit {
  padding-top: 5px;
  font-size: 1.3em;
  color: white;
  background: #9f449b;
  border-radius: 7px;
  height: 70px;
  width: 220px;
  box-shadow: 3px 4px 2px #9f449b;
}
#submit:hover {
  background: #fff;
  border: 1px solid purple;
  color: #9f449b;
}

.contactdata {
  vertical-align: top;
  text-align: left;
  font-size: 1.2em;
}
.contactdata p {
  padding-bottom: 8%;
}
.contactdata .contacttext {
  color: #676767;
}
.contactdata .adress {
  font-weight: bold;
  color: #222222;
}
.contactdata .telephone {
  font-weight: bold;
  color: #222222;
}

.social {
  display: inline-block;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
}

.facebook {
  background-image: url(../images/f.png);
}
.facebook:hover {
  background-image: url(../images/fhr.png);
}

.twitter {
  background-image: url(../images/t.png);
}
.twitter:hover {
  background-image: url(../images/thr.png);
}

.google {
  background-image: url(../images/g.png);
}
.google:hover {
  background-image: url(../images/ghr.png);
}

@media (max-width: 400px), (min-width: 400px) and (max-width: 690px) {
  .contactcontent {
    text-align: center;
  }

  form {
    text-align: center;
    width: 100%;
  }

  .email {
    font-size: 1em;
  }

  .name {
    font-size: 1em;
  }

  .textarea {
    font-size: 1em;
  }

  #submit {
    margin: 0 auto;
    width: 100%;
    font-size: 0.9em;
  }

  .contactdata {
    width: 80%;
    margin: 0 auto;
  }
}
.totopbottom {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.companyname3 {
  font-family: Existence, Lato, sans-serif;
  font-size: 2.8em;
  font-weight: bold;
  color: #676767;
  line-height: 0.3;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 8%;
}
.companyname3 span {
  color: #9f449b;
}

/*# sourceMappingURL=style.css.map */
